/* Breakpoints */
$bp-xs: 414px;
$bp-s: 576px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
$max-content-width: 1168px;

/* Colors */
$color-primary: #714EFF;
$color-black: #000;
$color-gray: rgba(60, 60, 67, 0.8);
$color-lightgray: rgba(60, 60, 67, 0.5);
$color-bg: #FFF;
$color-error: #FF6363;
$color-success: #81B24F;

/* Background */
$bg-blue: #F2F2F7;